---
import Header from './header.astro';
import Footer from './footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Prowlers and Paragons Character Sheet</title>
	</head>
	<body>
    <Header />

    <main>
      <slot />
    </main>

    <Footer />
	</body>
</html>

<style is:global>
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }
</style>